In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('/Users/arcturus/Documents/PhD/papers/snow_from_elevation/data_processing/allvaliddrillholes_4col.csv', header = None)

In [10]:
data.head()

   0     1     2     3
0  0  0.92  0.02  0.44
1  2  0.59  0.04  0.42
2  4  0.44  0.04  0.33
3  6  0.62  0.02  0.29
4  8  0.91  0.02  0.34

In [12]:
data.columns =["hole", "zi", "fi", "zs"]

In [13]:
data.head()

   hole    zi    fi    zs
0     0  0.92  0.02  0.44
1     2  0.59  0.04  0.42
2     4  0.44  0.04  0.33
3     6  0.62  0.02  0.29
4     8  0.91  0.02  0.34

In [14]:
data["tf"] = data.fi + data.zs

In [15]:
data.head()

   hole    zi    fi    zs    tf
0     0  0.92  0.02  0.44  0.46
1     2  0.59  0.04  0.42  0.46
2     4  0.44  0.04  0.33  0.37
3     6  0.62  0.02  0.29  0.31
4     8  0.91  0.02  0.34  0.36

In [19]:
data["arise_zs"] = 0.73 * data.tf + 0.028

In [20]:
data["sipex_zs"] = 0.62 * data.tf + 0.018
data["sipex2_zs"] = 0.64 * data.tf + 0.076
data["all_zs"] = 0.701 * data.tf + 0.019

In [21]:
data.head()

   hole    zi    fi    zs    tf  arise_zs  sipex_zs  sipex2_zs   all_zs
0     0  0.92  0.02  0.44  0.46    0.3638    0.3032     0.3704  0.34146
1     2  0.59  0.04  0.42  0.46    0.3638    0.3032     0.3704  0.34146
2     4  0.44  0.04  0.33  0.37    0.2981    0.2474     0.3128  0.27837
3     6  0.62  0.02  0.29  0.31    0.2543    0.2102     0.2744  0.23631
4     8  0.91  0.02  0.34  0.36    0.2908    0.2412     0.3064  0.27136

In [23]:
import numpy as np

In [24]:
np.mean(data.arise_zs)

0.22737795461808913

In [25]:
np.std(data.arise_zs)

0.17392249364204157

In [27]:
np.mean(data.zs)

0.21071620325982698

In [28]:
np.std(data.zs)

0.19608969157601316

In [29]:
np.mean(data.sipex_zs)

0.18733470118248646

In [30]:
np.std(data.sipex_zs)

0.14771499460009008

In [31]:
np.mean(data.sipex2_zs)

0.2507971108980507

In [32]:
np.std(data.sipex2_zs)

0.15247999442589924

In [33]:
np.mean(data.all_zs)

0.21045746053052033

In [34]:
np.std(data.all_zs)

0.16701324389461802